**🛡️ Trailing Stop**

**Symbol:** `{{symbol}}` ({{position}})

**Current:** `{{currentPrice}}`
**Entry:** `{{priceOpen}}`
**Take Profit:** `{{priceTakeProfit}}`
**Old Stop Loss:** `{{originalPriceStopLoss}}`
**New Stop Loss:** `{{priceStopLoss}}` ({{percentShift}}%)
**Orig Entry:** `{{originalPriceOpen}}`
**DCA Entries:** `{{totalEntries}}`
**Signal ID:** `{{signalId}}`
**Time:** `{{timestamp}}`

{{#backtest}}
_🧪 Backtest_
{{/backtest}}
